!!! 5
%html
  %body
    %br
    - params = "?digest=#{hexdigest}"
    - name += ".#{filename}" if filename
    - url = "#{name}#{params}"
    - dllink = "/download/#{url}"
    %audio{:controls => :controls}
      %source{:src => dllink, :type => 'audio/mpeg'}
      Your browser does not support audio
