!!! 5
- title = Time.now.strftime('%Y-%m-%d %H:%M ')
%html
  %head
    %title= t 'online_storage'
    %meta{:property => 'twitter:card', :content => 'summary'}
    %meta{:name => 'twitter:title', :content => 'Online Storage - Iceberg'}
    %meta{:name => 'twitter:description',
        :content => 'Store and share files on Iceberg.'}
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    - cdn = Iceberg::SETTING['local']['cdn'] || ''
    - cdn2 = Iceberg::SETTING['local']['cdn2'] || ''
    %link{:href => "#{cdn}/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "#{cdn}/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    %link{:href => "/starter-template.css", :rel => "stylesheet"}
  %body
    %nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      %div.container
        %div.navbar-header
          %button{:type => "button", :class => "navbar-toggle collapsed",
              "data-toggle" => "collapse", "data-target" => "#navbar",
              "aria-expanded" => "false", "aria-controls" => "navbar"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}= t 'online_storage'
        %div#navbar{:class => "collapse navbar-collapse"}
          %ul{:class => "nav navbar-nav"}= partial :navbar
    %div.container
      %div.starter-template
        - if uploaded
          - name = uploaded[:name]
          - digest = uploaded[:digest]
          - encdigest = uploaded[:encdigest]
          - tripcode = uploaded[:tripcode]
          - tripkey = uploaded[:tripkey]
          %input#name{:type => :hidden, :value => name}
          %input#digest{:type => :hidden, :value => digest}
          %input#encdigest{:type => :hidden, :value => encdigest}
          %input#tripkey{:type => :hidden, :value => tripkey}
          - success = true # TODO
          - alerttype = success ? 'alert-success' : 'alert-danger'
          %div{:class => "alert #{alerttype} alert-dismissible",
              :role => 'alert'}
            %button.close{:type => 'button', 'data-dismiss' => 'alert',
                'aria-label' => 'Close'}
              %span{'aria-hidden' => true} &times;
            Uploaded
            %br
            %a{:href => "/show/#{encdigest}?digest=#{digest}&filename=#{name}"}
              = name
            - if tripcode
              %br
              = t 'tripcode'
              %a{:href => "/tripcode/#{tripcode}"}= tripcode
              %input#tripcode{:type => :hidden, :value => tripcode}

        %h1= t 'upload'
        %ul#uploadtabs{:class => 'nav nav-tabs'}
          %li.active{:role => 'presentation'}
            %a{:href => '#filetab', 'aria-controls' => 'filetab', :role => :tab,
                'data-toggle' => 'tab'}
              %span{:class => 'glyphicon glyphicon-paperclip',
                'aria-hidden' => true}
              = t 'file'
          %li{:role => 'presentation'}
            %a{:href => '#texttab', 'aria-controls' => 'texttab', :role => :tab,
                'data-toggle' => 'tab'}
              %span{:class => 'glyphicon glyphicon-pencil',
                'aria-hidden' => true}
              = t 'text'
        %div{:class => 'tab-content'}
          %div#filetab{:role => :tabpanel, :class => 'tab-pane active'}

            %form{:action => '/upload', :method => 'post',
                :enctype => 'multipart/form-data'}
              %br
              %label= t 'step1'
              %br
              %input{:type => 'file', :name => 'file'}
              = (t 'up_to_size') % (maxfilesize / (1024 * 1024))
              %br
              %br
              %label= t 'step2'
              %br
              %button{:type => 'submit',
                  :class => 'btn btn-lg btn-default'}
                %span{:class => 'glyphicon glyphicon-cloud-upload',
                    'aria-hidden' => true}
                = t 'upload'
              %br
              %br
              %label= t 'tripcode_tag'
              %br
              %div{:class => 'input-group'}
                %span{:class => 'input-group-addon', :id => 'basic-addon1'}
                  %span{:class => 'glyphicon glyphicon-tag',
                    'aria-hidden' => true}
                  \#
                %input{:type => :text, :class => 'form-control tripin',
                    :placeholder => (t 'trip_key'),
                    'aria-describedby' => 'basic-addon1', :name => 'tripkey'}
                %span{:class => 'input-group-btn autogen'}
                  %button{:class => "btn btn-default", :type => "button"}= t 'generate'

          %div#texttab{:role => :tabpanel, :class => 'tab-pane'}
            %form{:action => '/uploadtext', :method => 'post',
                :enctype => 'multipart/form-data'}
              %br
              %label= t 'step1'
              %br
              %input{:type => 'input', :name => 'title', :value => title,
                  :class => 'form-control'}
              %br
              %textarea{:rows => 10, :cols => 40, :name => 'text',
                  :class => 'form-control'}
              %br
              %label= t 'step2'
              %br
              %button{:type => 'submit',
                  :class => 'btn btn-lg btn-default'}
                %span{:class => 'glyphicon glyphicon-cloud-upload',
                    'aria-hidden' => true}
                = t 'upload'
              %br
              %br
              %label= t 'tripcode_tag'
              %br
              %div{:class => 'input-group'}
                %span{:class => 'input-group-addon', :id => 'basic-addon2'}
                  %span{:class => 'glyphicon glyphicon-tag',
                    'aria-hidden' => true}
                  \#
                %input{:type => :text, :class => 'form-control tripin',
                    :placeholder => (t 'trip_key'),
                    'aria-describedby' => 'basic-addon2', :name => 'tripkey'}
                %span{:class => 'input-group-btn autogen'}
                  %button{:class => "btn btn-default", :type => "button"}= t 'generate'

        %hr
        %h1= t 'download'
        %ul#downloadtabs{:class => 'nav nav-tabs'}
          %li.active{:role => 'presentation'}
            %a{:href => '#dltab', 'aria-controls' => 'dltab', :role => :tab,
                'data-toggle' => 'tab'}
              %span{:class => 'glyphicon glyphicon-file',
                'aria-hidden' => true}
              = t 'files'
          %li{:role => 'presentation'}
            %a{:href => '#tagtab', 'aria-controls' => 'tagtab', :role => :tab,
                'data-toggle' => 'tab'}
              %span{:class => 'glyphicon glyphicon-tags',
                'aria-hidden' => true}
              = t 'tags'
        %br
        %div{:class => 'tab-content'}
          %div#dltab{:role => :tabpanel, :class => 'tab-pane active'}
            - recentfiles.each do |file|
              - filename = "encrypted-#{file[0, 8]}"
              %div
                %a.files{:href => "/show/#{file}", :id => file}= filename
            %br
            = (t 'files_in_fifo') % [recentfiles.size, filemax]
          %div#tagtab{:role => :tabpanel, :class => 'tab-pane'}
            - tripcodelist.each do |tripcode|
              %div
                %a.tripcodelist{:href => "/tripcode/#{tripcode}",
                    :id => tripcode}= tripcode
        %hr
        %h1= t 'recent_peers'
        - salt = Iceberg::SETTING['local']['salt'] || ''
        - recentpeers.each do |digest, info|
          %p #{digest} (#{info})
        %hr
        %h1= t 'cryptographic_keys'
        = t 'cryptographic_keys_note1'
        %br
        = t 'cryptographic_keys_note2'
        %br
        %form{:action => '/uploadtext', :method => 'post',
            :enctype => 'multipart/form-data'}
          %textarea#metadata{:class => 'form-control', :rows => 10,
              :name => 'text'}
          %br
          %button#showkeys{:type => 'button', :class => 'btn btn-lg btn-default'}
            %span{:class => 'glyphicon glyphicon-open',
                'aria-hidden' => true}
            = t 'show_keys'
          %button#apply{:type => 'button', :class => 'btn btn-lg btn-default'}
            %span{:class => 'glyphicon glyphicon-save',
                'aria-hidden' => true}
            = t 'import_keys'
          %input{:type => :hidden, :name => 'title', :value => "#{title}Keys",
              :class => 'form-control'}
          %button{:type => 'submit',
              :class => 'btn btn-lg btn-default'}
            %span{:class => 'glyphicon glyphicon-cloud-upload',
                'aria-hidden' => true}
            = t 'upload'
          %br
          %br
          %label= t 'tripcode_tag'
          %br
          %div{:class => 'input-group'}
            %span{:class => 'input-group-addon', :id => 'basic-addon2'}
              %span{:class => 'glyphicon glyphicon-tag',
                'aria-hidden' => true}
              \#
            %input{:type => :text, :class => 'form-control tripin',
                :placeholder => (t 'trip_key'),
                'aria-describedby' => 'basic-addon2', :name => 'tripkey'}
            %span{:class => 'input-group-btn autogen'}
              %button{:class => "btn btn-default", :type => "button"}= t 'generate'
        %br
        %br
        %button#deleteall{:type => 'button',
            :class => 'btn btn-sm btn-default'}
          %span{:class => 'glyphicon glyphicon-trash', 'aria-hidden' => true}
          = t 'forget_all_keys'
    %script{:type => 'text/javascript', :src => '/jquery-2.1.3.min.js'}
    %script{:type => 'text/javascript', :src => "#{cdn}/js/bootstrap.min.js"}
    %script{:type => 'text/javascript', :src => '/bootstrap-filestyle.min.js'}
    %script{:type => 'text/javascript', :src => '/index.js'}
    %script{:type => 'text/javascript', :src => "#{cdn2}/seedrandom/2.4.2/seedrandom.min.js"}
