%html
  %head
    %title Online Storage - Iceberg
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    %link{:href => "/starter-template.css", :rel => "stylesheet"}
  %body
    %nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      %div.container
        %div.navbar-header
          %button{:type => "button", :class => "navbar-toggle collapsed",
              "data-toggle" => "collapse", "data-target" => "#navbar",
              "aria-expanded" => "false", "aria-controls" => "navbar"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Online Storage - Iceberg
        %div#navbar{:class => "collapse navbar-collapse"}
          %ul{:class => "nav navbar-nav"}
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => 'https://github.com/ohac/iceberg'} Source
            %li
              %a{:href => 'https://github.com/ohac/iceberg/wiki'} Roadmap
    %div.container
      %div.starter-template
        - if uploaded
          - name = uploaded[:name]
          - digest = uploaded[:digest]
          - encdigest = uploaded[:encdigest]
          - tripcode = uploaded[:tripcode]
          %input#name{:type => :hidden, :value => name}
          %input#digest{:type => :hidden, :value => digest}
          %input#encdigest{:type => :hidden, :value => encdigest}
          - success = true # TODO
          - alerttype = success ? 'alert-success' : 'alert-danger'
          %div{:class => "alert #{alerttype} alert-dismissible",
              :role => 'alert'}
            %button.close{:type => 'button', 'data-dismiss' => 'alert',
                'aria-label' => 'Close'}
              %span{'aria-hidden' => true} &times;
            Uploaded
            - if tripcode
              %br
              Tripcode:
              %a{:href => "/tripcode/#{tripcode}"}= tripcode
        %h1 Upload
        %ul#uploadtabs{:class => 'nav nav-tabs'}
          %li.active{:role => 'presentation'}
            %a{:href => '#filetab', 'aria-controls' => 'filetab', :role => :tab,
                'data-toggle' => 'tab'}
              File
          %li{:role => 'presentation'}
            %a{:href => '#texttab', 'aria-controls' => 'texttab', :role => :tab,
                'data-toggle' => 'tab'}
              Text
        %div{:class => 'tab-content'}
          %div#filetab{:role => :tabpanel, :class => 'tab-pane active'}

            %form{:action => '/upload', :method => 'post',
                :enctype => 'multipart/form-data'}
              %br
              %label STEP 1
              %br
              %input{:type => 'file', :name => 'file'}
              Up to #{maxfilesize / (1024 * 1024)} MiB.
              %br
              %br
              %label STEP 2
              %br
              %button{:type => 'submit',
                  :class => 'btn btn-lg btn-default'}
                %span{:class => 'glyphicon glyphicon-cloud-upload',
                    'aria-hidden' => true}
                Upload
              %br
              %br
              %label Tripcode Tag (Option)
              %br
              %div{:class => 'input-group'}
                %span{:class => 'input-group-addon', :id => 'basic-addon1'} #
                %input{:type => :text, :class => 'form-control',
                    :placeholder => 'Trip Key',
                    'aria-describedby' => 'basic-addon1', :name => 'tripkey'}

          %div#texttab{:role => :tabpanel, :class => 'tab-pane'}
            %form{:action => '/uploadtext', :method => 'post',
                :enctype => 'multipart/form-data'}
              %br
              %label STEP 1
              %br
              - title = Time.now.strftime('%Y-%m-%d %H:%M ')
              %input{:type => 'input', :name => 'title', :value => title,
                  :class => 'form-control'}
              %br
              %textarea{:rows => 10, :cols => 40, :name => 'text',
                  :class => 'form-control'}
              %br
              %label STEP 2
              %br
              %button{:type => 'submit',
                  :class => 'btn btn-lg btn-default'}
                %span{:class => 'glyphicon glyphicon-cloud-upload',
                    'aria-hidden' => true}
                Upload
              %br
              %br
              %label Tripcode Tag (Option)
              %br
              %div{:class => 'input-group'}
                %span{:class => 'input-group-addon', :id => 'basic-addon2'} #
                %input{:type => :text, :class => 'form-control',
                    :placeholder => 'Trip Key',
                    'aria-describedby' => 'basic-addon2', :name => 'tripkey'}

        %hr
        %h1 Download
        %ul#downloadtabs{:class => 'nav nav-tabs'}
          %li.active{:role => 'presentation'}
            %a{:href => '#dltab', 'aria-controls' => 'dltab', :role => :tab,
                'data-toggle' => 'tab'}
              Files
          %li{:role => 'presentation'}
            %a{:href => '#tagtab', 'aria-controls' => 'tagtab', :role => :tab,
                'data-toggle' => 'tab'}
              Tags
        %br
        %div{:class => 'tab-content'}
          %div#dltab{:role => :tabpanel, :class => 'tab-pane active'}
            - recentfiles.each do |file|
              - filename = "encrypted-#{file[0, 8]}"
              %div
                %a.files{:href => "/download/#{file}", :id => file}= filename
            %br
            #{recentfiles.size} / #{filemax} files in FIFO.
          %div#tagtab{:role => :tabpanel, :class => 'tab-pane'}
            - tripcodelist.each do |tripcode|
              %div
                %a{:href => "/tripcode/#{tripcode}"}= tripcode
        %hr
        %h1 Meta data in your browser
        Backup below text data to other storage.
        %br
        You can share and edit this meta data.
        %br
        %textarea#metadata{:class => 'form-control', :rows => 10}
        %br
        %input#apply{:type => 'button', :value => 'Apply',
            :class => 'btn btn-lg btn-default'}
        %br
        %br
        %input#deleteall{:type => 'button', :value => 'Delete all meta data',
            :class => 'btn btn-sm btn-default'}
  %script{:type => 'text/javascript', :src => '/jquery-2.1.3.min.js'}
  %script{:type => 'text/javascript', :src => 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'}
  %script{:type => 'text/javascript', :src => '/bootstrap-filestyle.min.js'}
  %script{:type => 'text/javascript', :src => '/index.js'}
