!!! 5
%html
  - filename = filename || 'Encrypted File'
  - encdigest = request.path_info.split('/').last
  -# port = request.port
  -# TODO reverse proxy setting: http -> https
  -# hostport = request.scheme + '://' + request.host
  - hostport = 'https://' + request.host
  - params = hexdigest ? "?digest=#{hexdigest}&filename=#{filename}" : ''
  - url = "#{name}#{params}"
  - dllink = "/download/#{url}"
  - ctlink = "/container/#{url}"
  %head
    %title #{filename} - Online Storage - Iceberg
    - if filesize
      %meta{:name => 'twitter:title', :content => filename}
      - summary = true
      - case filename
        - when /\.jpg$/, /\.gif$/, /\.png$/
          - if filesize < 1024 * 1024
            %meta{:property => 'twitter:card', :content => 'photo'}
            %meta{:name => 'twitter:image', :content => "#{hostport}#{dllink}"}
            %meta{:name => 'twitter:url', :content => request.url}
            - summary = false
        - when /\.mp3$/
          %meta{:property => 'twitter:card', :content => 'player'}
          %meta{:name => 'twitter:player', :content => "#{hostport}#{ctlink}"}
          %meta{:name => 'twitter:player:width', :content => 300}
          %meta{:name => 'twitter:player:height', :content => 32}
          %meta{:name => 'twitter:image',
              :content => "#{hostport}/white300x32.png"}
          - summary = false
      - if summary
        %meta{:property => 'twitter:card', :content => 'summary'}
        %meta{:name => 'twitter:description',
            :content => 'Store and share files on Iceberg.'}
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    - cdn = SETTING['local']['cdn'] || ''
    %link{:href => "#{cdn}/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "#{cdn}/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    %link{:href => "/starter-template.css", :rel => "stylesheet"}
  %body
    %nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      %div.container
        %div.navbar-header
          %button{:type => "button", :class => "navbar-toggle collapsed",
              "data-toggle" => "collapse", "data-target" => "#navbar",
              "aria-expanded" => "false", "aria-controls" => "navbar"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Online Storage - Iceberg
        %div#navbar{:class => "collapse navbar-collapse"}
          %ul{:class => "nav navbar-nav"}= partial :navbar
    %div.container
      %div.starter-template
        %h1 #{filename}
        - if hexdigest
          %input#name{:type => :hidden, :value => filename}
          %input#digest{:type => :hidden, :value => hexdigest}
          %input#encdigest{:type => :hidden, :value => encdigest}
        - if filesize
          - case filename
            - when /\.txt$/
              %iframe{:src => dllink}
              %hr
            - when /\.webm$/
              %video{:width => 640, :height => 360, :controls => :controls}
                %source{:src => dllink}
              %hr
            - when /\.jpg$/, /\.gif$/, /\.png$/
              %img{:src => dllink}
              %hr
            - when /\.mp3$/, /\.ogg$/, /\.flac$/
              %audio{:src => dllink, :controls => :controls}
              %hr
          %a{:href => dllink, :class => 'btn btn-default btn-lg'}
            %span{:class => 'glyphicon glyphicon-cloud-download'} Download
        - else
          %p File not found
        %hr
        %label Share URL:
        %textarea{:rows => 2, :class => 'form-control'}
          #{hostport}/show/#{url}
        %br
        %label Direct URL:
        %textarea{:rows => 2, :class => 'form-control'}
          #{hostport}#{dllink}
    %script{:type => 'text/javascript', :src => '/jquery-2.1.3.min.js'}
    %script{:type => 'text/javascript', :src => "#{cdn}/js/bootstrap.min.js"}
    %script{:type => 'text/javascript', :src => '/show.js'}
