%html
  %head
    %title #{tripcode} - Online Storage - Iceberg
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    %script{:type => 'text/javascript', :src => '/jquery-2.1.3.min.js'}
    %script{:type => 'text/javascript', :src => '/index.js'}
  %body
    %h1 Tripcode #{tripcode}
    %p Fund: #{fund} SHA (Under development)
    - files.each do |file|
      - filename = "encrypted-#{file[0, 8]}"
      %a.files{:href => "/download/#{file}", :id => file}= filename
      %br
