!!! 5
%html
  %head
    %title #{tripcode} - Online Storage - Iceberg
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    - cdn = SETTING['local']['cdn'] || ''
    %link{:href => "#{cdn}/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "#{cdn}/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    %link{:href => "/starter-template.css", :rel => "stylesheet"}
  %body
    %input#tripcode{:type => :hidden, :value => tripcode}
    %nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      %div.container
        %div.navbar-header
          %button{:type => "button", :class => "navbar-toggle collapsed",
              "data-toggle" => "collapse", "data-target" => "#navbar",
              "aria-expanded" => "false", "aria-controls" => "navbar"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Online Storage - Iceberg
        %div#navbar{:class => "collapse navbar-collapse"}
          %ul{:class => "nav navbar-nav"}= partial :navbar
    %div.container
      %div.starter-template
        %h1#maintitle Untitled Tag
        %div Tripcode: #{tripcode}
        %br
        - files.each do |file|
          - filename = "encrypted-#{file[0, 8]}"
          %div
            %a.files{:href => "/show/#{file}", :id => file}= filename
        %hr
        %div{:class => 'input-group-btn'}
          %button#starbtn{:type => 'button',
              :class => 'btn btn-default'}
            %span{:class => 'glyphicon glyphicon-star',
              'aria-hidden' => true}
            %span#star Star
        %br
        %div{:class => 'input-group'}
          %div{:class => 'input-group-btn'}
            %button#settagname{:type => 'button',
                :class => 'btn btn-default'}
              %span{:class => 'glyphicon glyphicon-tag',
                'aria-hidden' => true}
              Set
          %input#tagname{:type => 'text', :class => 'form-control',
              :placeholder => 'Tag Name', 'aria-label' => 'Set Tag Name'}
        %hr
        %p Fund: #{fund} MiB/Round (Under development)
    %script{:type => 'text/javascript', :src => '/jquery-2.1.3.min.js'}
    %script{:type => 'text/javascript', :src => "#{cdn}/js/bootstrap.min.js"}
    %script{:type => 'text/javascript', :src => '/tripcode.js'}
